@model IEnumerable<Student_Management_System.Models.StudentModel>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Add New Student", "RegisterStudents")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="stID">
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Courses", "StudentCourses", new { id = item.StudentID }) |
                @*@Html.ActionLink("Course Enroll", "EnrollInCourse", new { id = item.StudentID }) |*@
                <a class="Enroll" data-toggle="modal" data-target="#flipFlop">Enroll In Course</a> |
                @Html.ActionLink("Edit", "EditStudent", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "DeleteStudent", new { id = item.StudentID })
            </td>
        </tr>
    }
</table>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Select Course</h4>
            </div>
            <div class="modal-body">
                Select Course

                @Html.DropDownList("CourseTime")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary CourseSubmit" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/enrollInCourse.js"></script>
}
